@{
    ViewData["Title"] = "Face Recognition";
}

<div class="option-container">
    <h1>Face Recognition System</h1>

    <div class="option-card">
        <a asp-action="TakePicture" asp-controller="Home" class="option-btn">
            📷 Take Picture
        </a>

        <a asp-action="BiometricLogin" asp-controller="Home" class="option-btn biometric">
            🧠 Biometric Login
        </a>
    </div>
</div>